/* google fonts !"Dancing Script" + "Caveat" = 400-700weight no italics - "Indie Flower" = ONLY 400reg  */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Dancing+Script&family=Work+Sans&display=swap');

html {
    font-size: 62.25%;
}
* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
    font-family: "Work Sans", sans-serif;
    background-color: #E4DAE7;
}

/* header */
header {
    height: 8rem;
    background-color: #E3A2A0;
    padding: 1rem 2rem;
    position: sticky;
    top: 0rem;
    display: flex;
    align-items: center;
    text-align: center;
}
#title-container {
    margin: 0 auto;
    font-family: "caveat", cursive, sans-serif;
}
h1 {
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 2.5em;
    letter-spacing: 0.15em;
    color: #B05162;
}
h2 {
    font-family: "Dancing Script", Trebuchet MS, cursive, sans-serif;
    letter-spacing: 0.26em;
    font-size: 1.5em;
    color: #49736B;
}
#header-image {
    height: 5rem;
    width: 5rem;
    background: url(../images/hamster.jpg) no-repeat center center;
    background-size: 250%;
    float: right;
    border: 0.5rem solid #DB8784;
    border-radius: 2rem;
    flex-shrink: 0;
}
/* nav menus */
nav {
    width: 5rem;
    float: left;
    padding-top: 0.5rem;
    font-family: "Indie Flower", cursive, sans-serif;
    color: #DB8784;
}
nav li {
    list-style: none;
}
nav a:hover, #main-menu>i {
    cursor: pointer;
}
nav>ul {
    height: 4rem;
}
#main-menu {
    position: relative;
    font-size: 4rem;
    line-height: 4rem;
}
/* hide menu items */
 nav>ul>li>ul * {
    visibility: hidden;
    display: none;
}
/* nav main-menu appears when burger/menu item hovered */
nav>ul>li:hover *:not(#sub-menu) {
    visibility: visible;
    display: block;
}
/* allows 'tabbing' through content */
nav>ul>li:focus-within *:not(#sub-menu) {
    visibility: visible;
    display: block;
}
/* apply shadow to hovered item */
#main-menu ul a>li:hover, #galleries:hover {
    text-shadow: 0.2rem 0.2rem 0.3rem #B05162;
}
#main-menu:hover #menu-arrow {
    display: inline;
}
#main-menu:focus-within #menu-arrow {
    display: inline;
}
#galleries:hover li {
    text-shadow: none;
}
/* nav sub menu appears when hovered */
#galleries:hover ul {
    visibility: visible;
    display: block;
}
#galleries:focus-within * {
    visibility: visible;
    display: block;
}
#sub-menu {
    position: absolute;
    left: 6rem;
    background-color: #DED5E0;
}
#sub-menu>a:last-of-type {
    padding-bottom: 2rem;
}
#main-menu ul {
    width: 23rem;
    text-align: left;
    padding: 0 2rem;
    border-radius: 0.8rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #585563, 0 0 0.3rem #585563; 
  }
#main-menu>ul {
    background-color: #D2C1C6;
}
#main-menu ul li {
    padding: 1rem 0;
}
/* end of header */

/* main section of home page */
#hero-image {
    background-color: #D2C1C6;
    background: url(../images/leopard.jpg) no-repeat center center;
    background-size: cover;
    /* height: max(59vh, 36rem); */
    height: max(calc(71vh - 7rem), 36rem);
    top: 6rem;
    position: relative;
    z-index: -2;
}
#hero-text-container {
    background-color:#D2C1D688;
    font-size: 4rem;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: -10rem;
    border-radius: 0.8rem;
    color: #9B4655;
    text-shadow: 0.2rem 0.2rem 0.3rem #D2C1C6, -0.2rem -0.2rem 0.3rem #D2C1C6;
    z-index: -1;
}
#hero-text-container p:first-of-type {
    font-family: "caveat", cursive, sans-serif;
    font-weight: 700;
    padding-bottom: 1.5rem;
}
#hero-text-container p:last-of-type {
    font-family: "Dancing Script", Trebuchet MS, cursive, sans-serif;
    text-transform: capitalize;
    font-size: 2.5rem;
    padding-bottom: 0.8rem;
    color: #6E333D;
    font-weight: 600;
}
/* end of main section */

/* footer */
footer {
    position: fixed;
    bottom: 0;
    height: 6rem;
    background-color: #E3A2A0;
    padding: 0 25%;
    width: 100%;
}
footer ul {
    list-style-type: none;
    height: 6rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    color: #73937E;
}
footer ul a:hover {
    color: #49736B;
}

footer div {
    font-variant: small-caps;
    color: #D2C1D6;
    position: absolute;
    bottom: 0;
    right: 1rem;
    line-height: 2rem;;
}
/* end of footer */

/* media queries */
/* screen width < 320px (iphone 4/5 and galaxy fold) */
@media screen and (max-width: 320px) {
    #title-container h2 {
        position: absolute;
        top: 10rem;
        width: 80%;
        left: 10%;
        z-index: -1;
        white-space: nowrap;
        /* workaround - see bug list in README.md */
        opacity: 0.75;
        background-color: #E4DAE7;
        border-radius: 0.8rem;
    }
    #header-image {
        height: 4rem;
        width: 4rem;
        border-radius: 1.6rem;;
    }
    #main-menu>i {
        font-size: 3rem;
        line-height: 3rem;
    }
    #sub-menu {
        left: 1.5rem;
    }
    #hero-text-container {
        top: -9rem;
    }
}
/* tablets - portrait */
@media screen and (min-width: 640px)
and (orientation: portrait) {
    header {
        height: 12rem;
    }
    #title-container {
        width: 100%;
        font-size: 1.5rem;
        padding: 0 3rem;
    }
    #title-container a {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-evenly;
    }
    #title-container h1 {
        margin-right: 3rem;
        white-space: nowrap;
    }
    #hero-image {
        top: 8vh;
    }
    #hero-text-container {
        width: 66%;
    }
    footer, footer ul {
        height: 8.5rem;
    }
    footer ul {
        font-size: 4rem;
    }
    footer div {
        bottom: 1rem;
        font-size: 1.6rem;
    }
}
/* landscape */
@media screen and (orientation: landscape) {
    html {
        font-size: 50%;
    }
    header {
        padding-left: max(calc(25vw - 21rem), 2rem);
        padding-right: max(calc(25vw - 21rem), 2rem);
    }
    #title-container {
        width: 100%;
        font-size: 1.3rem;
        padding: 0 3rem;
    }
    #title-container a {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-evenly;
    }
    #title-container h1 {
        margin-right: 3rem;
    }
    /* flexbox for content */
    main>div {
        margin-top: 3rem;
        display: flex;
        flex-direction: row-reverse;
        height: calc(100vh - 14rem);
        align-items: center;
    }
    main>div>div {
        box-shadow: 0 0 0.3rem #585563;
    }
    #hero-image {
        width: 60%;
        height: 100%;
        top: 0;
        border-top-left-radius: 1rem;
    }
    #hero-text-container {
        width: 30%;
        padding: 2.2rem;
        font-size: 3.3rem;
        top: 0;
        max-height: 86%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 
    footer, footer ul {
        height: 4rem;
    }
}
/* galaxy fold */
@media screen and (orientation: landscape)
and (max-height: 295px) {
    footer, footer ul {
        z-index: -1;
    }
}
@media screen and (orientation: landscape)
and (min-height: 450px) {
    header {
        height: 10rem;
    }
    h1 {
        font-size: 3.8rem;
    }
    h2 {
        font-size: 3.4rem; 
    }
    #hero-text-container {
        max-height: 27.6rem;
        align-self: flex-end;
        /* margin-bottom: 5vh; */
        background-color: #D2C1D6BB;
        width: 35%;
    }
    #hero-image {
        border-radius: 3rem;
        width: 50%;
    }
    main>div {
        background-image: url(../images/sunset.jpg),  linear-gradient(#E4DAE788, #E4DAE788);
        background-repeat: no-repeat;
        background-blend-mode: lighten;
        position: relative;
        z-index: -1;
        background-size: 192rem 107.9rem;
        background-position: -5rem -20rem;
        justify-content: space-around;
        padding: 5rem;
    }
}
/* tablets */
@media screen and (orientation: landscape)
and (min-height: 590px) {
    header {
        height: 12rem;
    }
    #title-container {
        font-size: 2rem;
    }
    nav i:first-of-type {
        position: relative;
        left: -2rem;
    }
    #header-image {
        height: 10rem;
        width: 10rem;
        border-radius: 3.5rem;
    }
    #main-menu {
        font-size: 5rem;
        bottom: 1rem;
        left: 3rem;
    }
    #main-menu * {
        font-size: 6rem;
    }
    #sub-menu {
        left: 18rem;
    }
    #main-menu ul {
        width: 36rem;
        padding-left: 4rem;
    }
    main>div:first-of-type {
        height: calc(100vh - 20rem);
    }
    #hero-text-container {
        margin-bottom: calc(29.5vh - 20rem);
    }
    footer, footer ul {
        height: 8rem;
        font-size: 2rem;
    }
    footer ul {
        font-size: 5rem;
    }
}