/* google fonts !"Dancing Script" + "Caveat" = 400-700weight no italics - "Indie Flower" = ONLY 400reg  */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Dancing+Script&family=Work+Sans&display=swap');

html {
    font-size: 62.25%;
}
* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
    font-family: "Work Sans", sans-serif;
    background-color: #E4DAE7;
}

/* header */
header {
    height: 8rem;
    background-color: #E3A2A0;
    padding: 1rem 2rem;
    position: sticky;
    top: 0rem;
    display: flex;
    align-items: center;
    text-align: center;
}
#title-container {
    margin: 0 auto;
    font-family: "caveat", cursive, sans-serif;
}
h1 {
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 2.5em;
    letter-spacing: 0.15em;
    color: #B05162;
}
h2 {
    font-family: "Dancing Script", Trebuchet MS, cursive, sans-serif;
    letter-spacing: 0.26em;
    color: #49736B;
}
#header-image {
    height: 5rem;
    width: 5rem;
    background: url(../images/hamster.jpg) no-repeat center center;
    background-size: 250%;
    float: right;
    border: 0.5rem solid #DB8784;
    border-radius: 2rem;
    flex-shrink: 0;
}
/* nav menus */
nav {
    width: 5rem;
    float: left;
    padding-top: 0.5rem;
    font-family: "Indie Flower", cursive, sans-serif;
    color: #DB8784;
}
nav li {
    list-style: none;
}
nav a:hover, #main-menu>i {
    cursor: pointer;
}
#main-menu {
    position: relative;
    font-size: 4rem;
    line-height: 4rem;
}
/* hide menu items */
 nav>ul>li>ul * {
    visibility: hidden;
    display: none;
}
/* nav main-menu appears when burger/menu item hovered */
#main-menu:hover *:not(#sub-menu){
    visibility: visible;
    display: block;
}
/* allows 'tabbing' through content */
#main-menu:focus-within *:not(#sub-menu){
    visibility: visible;
    display: block;
}
/* apply shadow to hovered item */
#main-menu ul a>li:hover, #galleries:hover {
    text-shadow: 0.2rem 0.2rem 0.3rem #B05162;
}
#galleries:hover li {
    text-shadow: none;
}
/* nav sub menu appears when hovered */
#galleries:hover ul {
    visibility: visible;
    display: block;
}
#galleries:focus-within * {
    visibility: visible;
    display: block;
}
#sub-menu {
    position: absolute;
    left: 6rem;
    background-color: #DED5E0;
}
#sub-menu>a:last-of-type {
    padding-bottom: 2rem;
}
#main-menu ul {
    width: 23rem;
    text-align: left;
    padding: 0 2rem;
    border-radius: 0.8rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #585563, 0 0 0.3rem #585563; 
  }
#main-menu>ul {
    background-color: #D2C1C6;
    position: relative;
    top: 7.5rem;
}
#main-menu ul li {
    padding: 1rem 0;
}
/* end of header */

/* main section of home page */
#hero-image {
    background-color: #D2C1C6;
    background: url(../images/leopard.jpg) no-repeat center center;
    background-size: cover;
    /* height: 36rem; */
    height: max(59vh, 36rem);

    margin-top: 6rem;
    animation: animal-change 9s alternate 20;
    position: relative;
    z-index: -2;
}
#hero-text-container {
    background-color:#D2C1D688;
    font-size: 4rem;
    text-align: center;
    /* width: 30rem; */
    width: 85%;
    margin: 0 auto;
    position: relative;
    margin-top: -10rem;
    border-radius: 0.8rem;
    color: #9B4655;
    text-shadow: 0.2rem 0.2rem 0.3rem #D2C1C6, -0.2rem -0.2rem 0.3rem #D2C1C6;
    z-index: -1;
}
#hero-text-container p:first-of-type {
    font-family: "caveat", cursive, sans-serif;
    font-weight: 700;
    padding-bottom: 1.5rem;
}
#hero-text-container p:last-of-type {
    font-family: "Dancing Script", Trebuchet MS, cursive, sans-serif;
    text-transform: capitalize;
    font-size: 2.5rem;
    padding-bottom: 0.8rem;
    color: #6E333D;
    font-weight: 600;
}
/* end of main section */

/* footer */
footer {
    position: fixed;
    bottom: 0;
    height: 6rem;
    background-color: #E3A2A0;
    padding: 0 9.5rem;
    width: 100%;
}
footer ul {
    list-style-type: none;
    height: 6rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    color: #73937E;
}
footer ul a:hover {
    color: #49736B;
}

footer div {
    font-variant: small-caps;
    color: #D2C1D6;
    position: absolute;
    bottom: 0;
    right: 1rem;
    line-height: 2rem;;
}
/* end of footer */

/* media queries */
/* screen width < 320px (iphone 4/5 and galaxy fold) */
@media screen and (max-width: 320px) {
    #title-container h2 {
        position: absolute;
        top: 10rem;
        width: 18rem;
        left: calc(50% - 9rem);
        word-wrap: nowrap;
        z-index: -1;
    }
    #header-image {
        flex-shrink: 1;
    }
    #main-menu>i {
        font-size: 3rem;
        line-height: 3rem;
    }
    #sub-menu {
        left: 1.5rem;
    }
    #hero-image {
        margin-top: max(calc(24vh - 9rem), 6rem);
    }
    #hero-text-container {
        top: -9rem;
    }

}
@media screen and (orientation: landscape) {
    html {
        font-size: 50%;
    }
    #title-container {
        width: 100%;
        font-size: larger;
        padding: 0 3rem;
    }
    #title-container a {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-evenly;
    }
    #title-container h1 {
        margin-right: 3rem;
    }
    main {
        display: flex;
        margin-top: -2rem;
    }
    main>* {
        box-shadow: 0 0 0.3rem #585563;
        }
    #hero-image {
        width: 60%;
        height: max(57.5vh, 21.5rem);
        order: 2;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    #hero-text-container {
        width: 30%;
        margin-top: 9rem;
        margin-bottom: 4rem;
        padding: 2.2rem;
        font-size: 3.3rem;
    }
    #hero-text-container p:first-of-type {
        margin-bottom: 1rem;
    }
    #hero-text-container p:last-of-type {
        font-size: 2.3rem;
    }
    footer, footer ul {
        height: 4rem;
    }
}